# Node modules
node_modules/

# Build output
dist/
build/

# Logs
logs/
*.log

# Environment variables
.env
client/.env
server/.env

# OS files
.DS_Store
Thumbs.db

# IDE / Editor configs
.vscode/
.idea/
*.swp